<section id="welcome-section">
    <img id="header-image" src="~/images/Oslo-map2.png" alt="Smalhans">
    <h3>Velkommen til Oslos beste oversikt over restauranter!</h3>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit soluta expedita, in numquam et delectus dignissimos debitis natus hic dolores iure. Deleniti hic ipsum quae sequi reprehenderit adipisci, corporis illum?</p>
</section>

<div class="restaurant-grid">
    <section class="restaurants">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum inventore magni dolorem perspiciatis, possimus ex eligendi molestiae, repudiandae ipsa iste, laboriosam optio dolor ea neque at. Hic quam consectetur aliquid.</p>
    </section>

    <section class="restaurants">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum inventore magni dolorem perspiciatis, possimus ex eligendi molestiae, repudiandae ipsa iste, laboriosam optio dolor ea neque at. Hic quam consectetur aliquid.</p>
    </section>

    <section class="restaurants">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum inventore magni dolorem perspiciatis, possimus ex eligendi molestiae, repudiandae ipsa iste, laboriosam optio dolor ea neque at. Hic quam consectetur aliquid.</p>
    </section>
</div>