<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EatInOslo</title>

    <link rel="stylesheet" type="text/css" href="~/css/meyersReset.css">    
    <link rel="stylesheet" type="text/css" href="~/css/main-style.css">

</head>
<body>
    <header>
        <h1 id="logo">EatInOslo</h1>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>EatInOslo 2018</p>
    </footer>
</body>
</html>